.time {
    border: 0px;
    vertical-align: top;
    position: relative;
    top: -13px;
    font-weight: lighter;
    text-align: center;
}

.pause {
    border: 0px;
    vertical-align: center;
    position: relative;
    top: -13px;
    font-weight: lighter;
    text-align: center;
}


.yellow{
    background-color: yellow;
}

.red{
    background-color: tomato;

}

.blue{
    background-color: teal;
}

td{
    text-align: center;
}

.green{
    background-color: olivedrab;
}

.pink{
    background-color: salmon;
}
